*{
    margin:0;
    padding:0;
    background: rgb(255, 255, 255);
    
   
    
    
    


}

@font-face{
    font-family: 'hp';
    src: url(font/hp.TTF);
   
}



       
    .container1{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        // background-image: url(cloak.png);
        // background-repeat:no-repeat;

        
        
        background-size:cover;
        background-repeat:no-repeat;
        overflow:hidden;


        h1{
            font-family: 'hp';
            background: none;
            color:rgb(0, 0, 0);
            position: sticky;
           
            font-weight:100;
             font-size:70px; 
            background:none;   
              text-shadow: 10px 15px 10px  #000;
            
        }
        .parallax{

            
            height:90%;
            width:80%;
            overflow: hidden;
        //     border-right: none;
        //     border-left:none;
            border: 2px solid rgb(255, 255, 255);
           position:absolute;
           display: flex;
           justify-content: center;
           align-items:center;
           flex-direction: row;
           background-image:none;


          #saturn1{
            animation: waves 10s  ease-in-out;
            animation-iteration-count:1;
          }
           
          
        }

        
       
        
    
        p{
            position:fixed;
            height:70px;
            width: auto;
            border: 2px solid;
            border-color: #ffffff;
            text-align: center;
            background: none;
            line-height:70px;
            letter-spacing:5px;
            color:rgb(255, 255, 255);
            font-size:50px;
            font-weight:100;
            font-family: 'hp';
            padding:10px;
            z-index: 99;
            text-shadow: 10px 15px 20px  #000;
            
          
            position: relative;
            
            
           

         
        }

        .shape1{
            margin-top:300px;
            height: 400px;
            width:400px;
            border: 10px solid #000;
            border-radius:50%;
           
            box-shadow: 10px 10px 40px #000;
        }
       

        @media screen and (max-width:800px) {
             
           
            
          

            h1{
                font-size:10px;
            }
            .container1
            {
             .hpp{
                 font-size: 30px;
             }

             
            }
            p{
                height: 30px;
                line-height: 30px;
                background:none;
                font-size:20px;
                font-weight: 500;
                width:35px;
                padding:2px;
                 margin-right:0px;
                padding-right:195px;
                padding-left:2%;
                text-shadow: 10px 10px 10px  #000;
                text-align: center;

            }
               
                .afterr{
                    font-size:80px;
                }
               

              

            
        }

        .imageee{

           opacity:0.1;
            z-index: 4;
            position:absolute;
            width:auto;height:100%;
            animation: fogg 1s  infinite ease;
            border-radius: 50%;
             
        }

        #aftercountdown{
            text-align: center; color:rgb(255, 255, 255);  
            font-size:60px;
            font-weight:100; 
            z-index: 6;
            background:none;;
            font-family: 'hp';
            padding:10px; 
            letter-spacing:5px ;
             animation: app1   ease-in;
             animation-duration: 5s;
             animation-iteration-count: 1;
             
             text-shadow: 0px 18px 25px  #000;
             
            
        }
        
       
        
        @keyframes app1 {
            
            0%{
                opacity:0.0;
                font-size:0px;
                
            }
            50%{
               
                opacity:1;
                color:rgb(255, 255, 255);
               
            }
            100%{
                
                opacity:1;
                font-size:60px;
                
                
            }
            
        }
        @keyframes fogg {
            
            0%{
                opacity:0.0;
                
            }
           
            100%{
                
                opacity:0.4;
                
            }
            
        }
        @keyframes waves {

            0%{
                    margin-left:00px;
            }
           
            50%{
                
                margin-right:30%;
            }
           
            100%{
                
                margin-left:0%;
            }
            
        }

       
       
 }
       
       
          
    
    

    
   
